Repository team-commitment-issues/team_commitment_issues-SOEN341_Project_W25, pull requests merged in 2025-03, with the labels that each got.

#104 Direct message model change
  backend/src/__tests__/channelControllerAdmin.test.ts
  backend/src/__tests__/channelControllerMember.test.ts
  backend/src/__tests__/directMessageController.test.ts
  backend/src/__tests__/directMessageControllerCreate.test.ts
  backend/src/__tests__/testHelpers.test.ts
  backend/src/__tests__/testHelpers.ts
  backend/src/__tests__/webSocketServer.test.ts
  backend/src/controllers/channelController.ts
  backend/src/controllers/directMessageController.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/middlewares/permissionMiddleware.ts
  backend/src/models/DMessage.ts
  backend/src/models/DirectMessage.ts
  backend/src/models/TeamMember.ts
  backend/src/routes/channelRoutes.ts
  backend/src/routes/directMessageRoutes.ts
  backend/src/server.ts
  backend/src/services/directMessageService.ts
  backend/src/webSocketServer.ts
Labels: Backend

#132 Dm frontend
  backend/src/controllers/directMessageController.ts
  backend/src/middlewares/permissionMiddleware.ts
  backend/src/services/directMessageService.ts
  backend/src/webSocketServer.ts
  frontend/src/Components/DirectMessages.tsx
  frontend/src/Components/teamMemberList.tsx
  frontend/src/Pages/AdminDashboard.tsx
  frontend/src/Services/channelService.ts
  frontend/src/Services/directMessageService.ts
Labels: Priority: High, Backend, Frontend

#133 Clean up meeting minutes folders
  Sprint 1/TCI_Sprint1_Meeting1_27JAN2025.md
  Sprint 1/TCI_Sprint1_Meeting2_30JAN2025.md
  Sprint 1/TCI_Sprint1_Meeting3_31JAN2025.md
  Sprint 1/TCI_Sprint1_Meeting4_6FEB2025.md
  Sprint 1/TCI_Sprint1_Meeting5_7FEB2025.md
  Sprint 2/TCI_Sprint2_Meeting1_10FEB2025.md
  Sprint 2/TCI_Sprint2_Meeting3_04March2025.md
  Sprint 2/TCI_Sprint2_Meeting5_07March2025
  Sprint 2/TCI_Sprint2_Metting2_13FEB2025.md
  Sprint 2/TCI_Sprint2_Metting3_17FEB2025.md
Labels: documentation

#181 Messaging Backend/Frontend Fix
  .vscode/settings.json
  ChatHavenApp/backend/coverage/clover.xml
  ChatHavenApp/backend/coverage/coverage-final.json
  ChatHavenApp/backend/coverage/lcov-report/base.css
  ChatHavenApp/backend/coverage/lcov-report/block-navigation.js
  ChatHavenApp/backend/coverage/lcov-report/favicon.png
  ChatHavenApp/backend/coverage/lcov-report/index.html
  ChatHavenApp/backend/coverage/lcov-report/prettify.css
  ChatHavenApp/backend/coverage/lcov-report/prettify.js
  ChatHavenApp/backend/coverage/lcov-report/sort-arrow-sprite.png
  ChatHavenApp/backend/coverage/lcov-report/sorter.js
  ChatHavenApp/backend/coverage/lcov.info
  ChatHavenApp/backend/src/__tests__/directMessageController.test.ts
  ChatHavenApp/backend/src/__tests__/directMessageControllerCreate.test.ts
  ChatHavenApp/backend/src/__tests__/testHelpers.test.ts
  ChatHavenApp/backend/src/__tests__/testHelpers.ts
  ChatHavenApp/backend/src/__tests__/webSocketServer.test.ts
  ChatHavenApp/backend/src/controllers/directMessageController.ts
  ChatHavenApp/backend/src/middlewares/authMiddleware.ts
  ChatHavenApp/backend/src/middlewares/permissionMiddleware.ts
  ChatHavenApp/backend/src/models/DirectMessage.ts
  ChatHavenApp/backend/src/server.ts
  ChatHavenApp/backend/src/services/channelService.ts
  ChatHavenApp/backend/src/services/directMessageService.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/frontend/src/Components/ChannelList.tsx
  ChatHavenApp/frontend/src/Components/DirectMessages.tsx
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/TeamList.tsx
  ChatHavenApp/frontend/src/Components/teamMemberList.tsx
  ChatHavenApp/frontend/src/Components/userList.tsx
  ChatHavenApp/frontend/src/Pages/AdminDashboard.tsx
  ChatHavenApp/frontend/src/Services/directMessageService.ts
  ChatHavenApp/frontend/src/types/shared.ts
Labels: Backend, Frontend

#182 Add username and password update functionality with success message styling
  ChatHavenApp/backend/src/__tests__/userController.update.test.ts
  ChatHavenApp/backend/src/controllers/userController.ts
  ChatHavenApp/backend/src/routes/userRoutes.ts
  ChatHavenApp/backend/src/services/userService.ts
  ChatHavenApp/frontend/src/Components/LoginForm.tsx
  ChatHavenApp/frontend/src/Pages/Settings.tsx
  ChatHavenApp/frontend/src/Services/authService.ts
  ChatHavenApp/frontend/src/Styles/Settings.css
Labels: Backend, Frontend

#183 Implement Online Status Backend/Frontend
  .gitignore
  ChatHavenApp/backend/jest.config.js
  ChatHavenApp/backend/jest.setup.ts
  ChatHavenApp/backend/package-lock.json
  ChatHavenApp/backend/package.json
  ChatHavenApp/backend/src/__tests__/clientHealthChecker.test.ts
  ChatHavenApp/backend/src/__tests__/connectionManager.test.ts
  ChatHavenApp/backend/src/__tests__/directMessageControllerCreate.test.ts
  ChatHavenApp/backend/src/__tests__/metrics.test.ts
  ChatHavenApp/backend/src/__tests__/metricsRoutes.test.ts
  ChatHavenApp/backend/src/__tests__/mongooseMockHelper.ts
  ChatHavenApp/backend/src/__tests__/rateLimiter.test.ts
  ChatHavenApp/backend/src/__tests__/webSocketServer.test.ts
  ChatHavenApp/backend/src/controllers/onlineStatusController.ts
  ChatHavenApp/backend/src/enums.ts
  ChatHavenApp/backend/src/middlewares/permissionMiddleware.ts
  ChatHavenApp/backend/src/models/User.ts
  ChatHavenApp/backend/src/routes/metricsRoutes.ts
  ChatHavenApp/backend/src/routes/onlineStatusRoutes.ts
  ChatHavenApp/backend/src/server.ts
  ChatHavenApp/backend/src/services/clientHealthChecker.ts
  ChatHavenApp/backend/src/services/connectionManager.ts
  ChatHavenApp/backend/src/services/onlineStatusService.ts
  ChatHavenApp/backend/src/statusCleanup.ts
  ChatHavenApp/backend/src/types/websocket.ts
  ChatHavenApp/backend/src/utils/logger.ts
  ChatHavenApp/backend/src/utils/metrics.ts
  ChatHavenApp/backend/src/utils/rateLimiter.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/backend/tsconfig.json
  ChatHavenApp/frontend/src/Components/AdminActions.tsx
  ChatHavenApp/frontend/src/Components/ChannelList.tsx
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/UI/StatusSelector.tsx
  ChatHavenApp/frontend/src/Components/UI/UserStatusIndicator.tsx
  ChatHavenApp/frontend/src/Components/teamMemberList.tsx
  ChatHavenApp/frontend/src/Components/userList.tsx
  ChatHavenApp/frontend/src/Context/OnlineStatusContext.tsx
  ChatHavenApp/frontend/src/Pages/AdminDashboard.tsx
  ChatHavenApp/frontend/src/Services/onlineStatusService.ts
  ChatHavenApp/frontend/src/Styles/StatusSelector.module.css
  ChatHavenApp/frontend/src/index.tsx
  ChatHavenApp/frontend/src/types/shared.ts
Labels: Backend, Frontend

#191 Web socket server fix
  ChatHavenApp/backend/src/__tests__/webSocketServer.test.ts
  ChatHavenApp/backend/src/controllers/userController.ts
  ChatHavenApp/backend/src/models/DMessage.ts
  ChatHavenApp/backend/src/models/DirectMessage.ts
  ChatHavenApp/backend/src/routes/userRoutes.ts
  ChatHavenApp/backend/src/services/channelService.ts
  ChatHavenApp/backend/src/services/directMessageService.ts
  ChatHavenApp/backend/src/services/userService.ts
  ChatHavenApp/backend/src/types/websocket.ts
  ChatHavenApp/backend/src/utils/logger.ts
  ChatHavenApp/backend/src/utils/metrics.ts
  ChatHavenApp/backend/src/utils/rateLimiter.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/frontend/src/Components/ChannelList.tsx
  ChatHavenApp/frontend/src/Components/LoginForm.tsx
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/SignUpForm.tsx
  ChatHavenApp/frontend/src/Components/TeamList.tsx
  ChatHavenApp/frontend/src/Components/UI/MessageStatusIndicator.tsx
  ChatHavenApp/frontend/src/Components/UI/StatusSelector.tsx
  ChatHavenApp/frontend/src/Components/UI/UserStatusIndicator.tsx
  ChatHavenApp/frontend/src/Components/teamMemberList.tsx
  ChatHavenApp/frontend/src/Components/userList.tsx
  ChatHavenApp/frontend/src/Context/ChatSelectionContext.tsx
  ChatHavenApp/frontend/src/Context/OnlineStatusContext.tsx
  ChatHavenApp/frontend/src/Context/UserContext.tsx
  ChatHavenApp/frontend/src/Pages/AdminDashboard.tsx
  ChatHavenApp/frontend/src/Pages/Profile.tsx
  ChatHavenApp/frontend/src/Pages/Settings.tsx
  ChatHavenApp/frontend/src/Services/directMessageService.ts
  ChatHavenApp/frontend/src/Services/onlineStatusService.ts
  ChatHavenApp/frontend/src/Services/userService.ts
  ChatHavenApp/frontend/src/Services/webSocketClient.ts
  ChatHavenApp/frontend/src/index.tsx
  ChatHavenApp/frontend/src/types/shared.ts
Labels: Priority: High, Backend, Frontend

#194 Change channel creation permission from ADMIN to MEMBER
  ChatHavenApp/backend/src/routes/channelRoutes.ts
Labels: Backend

#197 Media sharing feature
  ChatHavenApp/backend/config/jest/jest.setup.ts
  ChatHavenApp/backend/config/tsconfig/tsconfig.json
  ChatHavenApp/backend/src/server.ts
  ChatHavenApp/backend/src/services/directMessageService.ts
  ChatHavenApp/backend/src/utils/httpRateLimiter.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Styles/StatusSelector.module.css.d.ts
  ChatHavenApp/frontend/src/Styles/dashboardStyles.ts
  ChatHavenApp/frontend/src/types/global.d.ts
  ChatHavenApp/frontend/src/types/shared.ts
  ChatHavenApp/yarn.lock
Labels: Frontend

#202 Update dependencies and improve type safety in Messaging component
  ChatHavenApp/frontend/package.json
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/UI/StatusSelector.tsx
  ChatHavenApp/frontend/src/setupTests.ts
  ChatHavenApp/frontend/src/testUtils.tsx
  ChatHavenApp/frontend/src/types/global.d.ts
  ChatHavenApp/yarn.lock
Labels: bug

#205 Implementation of quoting
  .gitignore
  ChatHavenApp/backend/src/models/DMessage.ts
  ChatHavenApp/backend/src/models/Message.ts
  ChatHavenApp/backend/src/services/channelService.ts
  ChatHavenApp/backend/src/services/directMessageService.ts
  ChatHavenApp/backend/src/types/websocket.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment.tsx
  ChatHavenApp/frontend/src/types/shared.ts
  ChatHavenApp/yarn.lock
Labels: bug, Backend, Frontend

#206 File editing implementation
  ChatHavenApp/backend/src/models/DMessage.ts
  ChatHavenApp/backend/src/models/Message.ts
  ChatHavenApp/backend/src/routes/fileRoutes.ts
  ChatHavenApp/backend/src/services/fileEditingService.ts
  ChatHavenApp/backend/src/types/websocket.ts
  ChatHavenApp/backend/src/webSocketServer.ts
  ChatHavenApp/frontend/src/Components/Messaging.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment.tsx
  ChatHavenApp/frontend/src/Components/UI/FileEditor.tsx
  ChatHavenApp/frontend/src/types/shared.ts
Labels: Priority: High, Backend, Frontend

#208 File editing fix. Added Edit History Support
  ChatHavenApp/backend/src/models/DMessage.ts
  ChatHavenApp/backend/src/models/Message.ts
  ChatHavenApp/backend/src/services/fileEditingService.ts
  ChatHavenApp/backend/src/types/websocket.ts
  ChatHavenApp/backend/src/websocket/handlers/fileEditingHandler.ts
  ChatHavenApp/backend/src/websocket/router.ts
  ChatHavenApp/frontend/src/Components/Messaging/components/MessageItem.tsx
  ChatHavenApp/frontend/src/Components/Messaging/components/MessageList.tsx
  ChatHavenApp/frontend/src/Components/Messaging/context/MessageContext.ts
  ChatHavenApp/frontend/src/Components/Messaging/hooks/useMessages.ts
  ChatHavenApp/frontend/src/Components/Messaging/index.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/EditingIndicator.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/FilePreview/ImagePreview.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/FilePreview/TextPreview.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/FilePreview/index.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/UploadStatusIndicator.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/editHistoryTooltip.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/index.tsx
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/useEditLock.ts
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/useFileContent.ts
  ChatHavenApp/frontend/src/Components/UI/FileAttachment/utils.ts
  ChatHavenApp/frontend/src/Pages/Settings.tsx
  ChatHavenApp/frontend/src/Styles/FileAttachment.css
Labels: Priority: High, Backend, Frontend

#209 Implement channel access management
  ChatHavenApp/backend/src/controllers/channelController.ts
  ChatHavenApp/backend/src/models/Channel.ts
  ChatHavenApp/backend/src/routes/channelRoutes.ts
  ChatHavenApp/backend/src/services/channelService.ts
  ChatHavenApp/frontend/src/Components/AccessRequestMailbox.tsx
  ChatHavenApp/frontend/src/Components/ChannelList.tsx
  ChatHavenApp/frontend/src/Pages/AdminDashboard.tsx
  ChatHavenApp/frontend/src/Services/channelService.ts
  ChatHavenApp/frontend/src/Styles/dashboardStyles.ts
Labels: Backend, Frontend
