Repository team-commitment-issues/team_commitment_issues-SOEN341_Project_W25, pull requests merged in 2025-02, with the labels that each got.

#28 Tsk#12 implementing MongoDB
  .gitignore
  backend/__tests__/userController.test.ts
  backend/jest.config.js
  backend/jest.setup.ts
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/userController.ts
  backend/src/models/User.ts
  backend/src/routes/userRoutes.ts
  backend/src/server.ts
  backend/src/services/userService.ts
  backend/tsconfig.json
  package-lock.json
  package.json
  public/index.html
  src/App.tsx
  src/Components/Login.tsx
  src/Components/SignUp.tsx
  src/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
Labels: Backend, Frontend

#64 Backend Middleware Refactoring and Frontend Endpoints additions
  backend/src/__tests__/channelControllerAdmin.test.ts
  backend/src/__tests__/channelControllerCreate.test.ts
  backend/src/__tests__/channelControllerMember.test.ts
  backend/src/__tests__/dashboardController.test.ts
  backend/src/__tests__/dashboardControllerMember.test.ts
  backend/src/__tests__/superAdminController.test.ts
  backend/src/__tests__/superAdminControllerCreate.test.ts
  backend/src/__tests__/testHelpers.test.ts
  backend/src/__tests__/testHelpers.ts
  backend/src/__tests__/userController.test.ts
  backend/src/controllers/channelController.ts
  backend/src/controllers/dashboardController.ts
  backend/src/controllers/superAdminController.ts
  backend/src/controllers/userController.ts
  backend/src/middlewares/authMiddleware.ts
  backend/src/middlewares/permissionMiddleware.ts
  backend/src/models/Channel.ts
  backend/src/models/Message.ts
  backend/src/models/Team.ts
  backend/src/models/TeamMember.ts
  backend/src/models/User.ts
  backend/src/routes/channelRoutes.ts
  backend/src/routes/dashboardRoutes.ts
  backend/src/routes/superAdminRoutes.ts
  backend/src/services/channelService.ts
  backend/src/services/dashboardService.ts
  backend/src/services/superAdminService.ts
  backend/src/services/userService.ts
  frontend/src/Components/ChannelList.tsx
  frontend/src/Components/SignUpForm.tsx
  frontend/src/Components/TeamList.tsx
  frontend/src/Components/userList.tsx
  frontend/src/Pages/AdminDashboard.tsx
  frontend/src/Pages/CreateChannel.tsx
  frontend/src/Pages/CreateTeam.tsx
  frontend/src/Pages/CreateTeamPage.tsx
  frontend/src/Routes/routes.tsx
  frontend/src/Services/authService.ts
  frontend/src/Services/channelService.ts
  frontend/src/Services/dashboardService.ts
  frontend/src/Services/superAdminService.ts
  frontend/src/Services/teamServices.ts
  frontend/src/Styles/CreateTeamPage.css
  frontend/src/Styles/createChannelStyle.ts
  frontend/src/Styles/dashboardStyles.ts
Labels: Backend, Frontend

#90 Implement CI/CD pipeline
  .github/workflows/ci-cd.yml
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/TeamList.tsx
Labels: Backend, Frontend

#92 Implement team member lists
  backend/src/__tests__/channelControllerCreate.test.ts
  backend/src/__tests__/channelControllerMember.test.ts
  backend/src/__tests__/dashboardController.test.ts
  backend/src/__tests__/dashboardControllerMember.test.ts
  backend/src/controllers/channelController.ts
  backend/src/routes/channelRoutes.ts
  backend/src/routes/dashboardRoutes.ts
  backend/src/services/channelService.ts
  backend/src/services/dashboardService.ts
  frontend/src/Components/AddUserToTeam.tsx
  frontend/src/Components/ChannelList.tsx
  frontend/src/Components/TeamList.tsx
  frontend/src/Components/teamMemberList.tsx
  frontend/src/Components/userList.tsx
  frontend/src/Pages/AdminDashboard.tsx
  frontend/src/Services/channelService.ts
  frontend/src/Services/dashboardService.ts
  frontend/src/Styles/dashboardStyles.ts
Labels: Backend, Frontend

#93 Add setSelectedTeamMembers prop to TeamList and ChannelList components
  frontend/src/Components/ChannelList.tsx
  frontend/src/Components/TeamList.tsx
  frontend/src/Pages/AdminDashboard.tsx
Labels: bug, Frontend

#94 Implementing Channel Messaging
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/channelControllerAdmin.test.ts
  backend/src/__tests__/channelControllerMember.test.ts
  backend/src/__tests__/testHelpers.test.ts
  backend/src/__tests__/testHelpers.ts
  backend/src/__tests__/webSocketServer.test.ts
  backend/src/controllers/channelController.ts
  backend/src/models/Message.ts
  backend/src/server.ts
  backend/src/services/channelService.ts
  backend/src/webSocketServer.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/DirectMessages.tsx
  frontend/src/Pages/AdminDashboard.tsx
  frontend/src/Services/channelService.ts
Labels: Priority: High, Backend, Frontend

#96 Add .npmrc file to enable legacy peer dependencies
  frontend/.npmrc
Labels: bug
